<a href="https://colab.research.google.com/github/Balenm/NF_DAnalysis/blob/main/Netflix_DAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A surface analysis of Netflix's Dataset

Through this project, we will be analyzing the [Netflix Movies and TV Shows ](http://https://www.kaggle.com/datasets/shivamb/netflix-shows) dataset to identify: 

* **A snapshot:**
> * Distribution of types of movies and series </br>
> * Distribution of genres </br>
> * Distribution of maturity ratings </br>
> * Movies/series added per month per year </br>
> * Top performing directors</br>
* **Countries with highest number of movie/series production**
* **The top 5 actors by the number of times they performed in a movies/series**
* **What are the top genres in each country?**
* **List of the movies that have "happy" in their descriptions**
* **Top three genres by their accumulated durations**
* **Which movies has the longest duration**
* **List 5 longest movies and series**
* **Which series has the highest number of seasons**
* **Count the number of movies and TV series for each year**
* **Which movies has the longest duration**
* **List 3 movies and TV series which have the highest number of cast**
* **Show the total number of ,movies and TV series in each country**
* **Count the movies which relate to magic,animal,history,games and marin**

In [20]:
import numpy as np
import pandas as pd

netflix_data = pd.read_csv("/content/Netflix_Data/netflix_titles.csv")

In [ ]:
netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [21]:
netflix_data.isna().sum()

show_id            0
type               0
title              0
director        2518
cast             747
country          803
date_added         9
release_year       0
rating             4
duration           4
listed_in          1
description        1
dtype: int64

In [22]:
netflix_data = netflix_data.replace("", np.nan)